<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
      <import resource="spring-transfer.xml"></import>
    <aop:config>
        <!--配置事务通知-->
        <aop:advisor advice-ref="tx" pointcut-ref="pt2"/>
    </aop:config>
    <aop:config>
        <!--expression 切入点表达式 设置切入点-->
        <aop:pointcut id="pt1" expression="execution(* com.alibaba.service.impl.AccountServiceImpl.*(..))"/>
        <aop:pointcut id="pt2" expression="execution(void com.alibaba.service.impl.AccountServiceImpl.update(..))"/>
        <!--设置切面-->
        <aop:aspect id="myAspect" ref="myAspect">
            <!--设置通知-->
            <!--前置通知-->
            <aop:before method="checkPermission" pointcut-ref="pt1"></aop:before>
        </aop:aspect>
    </aop:config>


</beans>